# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore the zip file of the dataset
ml-25m.zip

# Ignore dataset files
genome-scores.csv
genome-tags.csv
links.csv
movies.csv
ratings.csv
tags.csv

# Ignore any log files
*.log

# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
venv/
